@import url('https://fonts.cdnfonts.com/css/pokemon-solid');


body {
    font-size: 30px;
    margin: 20px;
    font-family: 'Pokemon Solid', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; 
    color: #333;
    padding-top: 50px;
    background-image: url('pokemon.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.titulo-raikou {
    display: block; 
    margin: 0 auto; 
    padding: 20px;
    color: #fff;

   
    background: rgba(253, 249, 208, 0.25);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(px);
    border-radius: 30px;

    transition: 0.25s ease;

    text-shadow:
        0 0 4px #ffe600,
        0 0 8px #ffea00,
        0 0 14px #ffee00;
}

.titulo-raikou:hover {
    cursor: pointer;
    text-shadow:
        0 0 8px #fff700,
        0 0 18px #ffe600,
        0 0 28px #00eeff,
        0 0 40px #00ffff,
        2px 2px 0 #000,
        -2px -2px 0 #000;

    filter: brightness(1.4);
}


h2 {
     font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    background: rgba(253, 249, 208, 0.25);
    backdrop-filter: blur(1px);
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

p, ul, li {
     font-family: 'Press Start 2P', cursive;
        background: rgba(206, 206, 205, 0.25);
    backdrop-filter: blur(1px);
    font-size: 0.9rem; 
    line-height: 1.8;
    margin-bottom: 15px;
}

.menu-historia {
       position: absolute; 
    top: 0;
    left: 0;
    right: 0; 
    padding: 20px 40px;
    display: flex;
    justify-content: center; 
    gap: 30px;
    z-index: 10;
   
    border-radius: 0 0 10px 10px; 
}

.menu-historia a {
  color: #ffffff !important;
    margin: 0 20px;
    font-size: 13px;

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;

    transition: 0.25s ease;
}

.menu-historia a:hover {
     color: #ffe600 !important;
    transform: scale(1.1);
    text-shadow:
        0 0 6px #00c8ff,
        0 0 12px #00c8ff,
        0 0 20px #ffe600,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
    filter: brightness(1.3);
}

@media (max-width: 600px) {
    body {
        margin: 10px; 
    }

    .menu-historia {
        gap: 8px; 
    }

    .menu-historia a {
        font-size: 0.6rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p, ul, li {
        font-size: 0.8rem;
    }
}
