body {
    margin: 20px;

    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
    background-color: #f0f0f0; 
    color: #333;
    padding-top: 50px; 
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1, h2 {
    text-align: center;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
p, ul, li {
    font-size: 0.9rem; 
    line-height: 1.8;
    margin-bottom: 15px;
}

.menu-historia {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000; 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 20;
    border-bottom: 5px solid #000000;
}

.menu-historia a {
    color: white;
    text-decoration: none;
    font-size: 0.7rem; 
    font-weight: 600;
    padding: 5px;
    transition: 0.3s;
}

.menu-historia a:hover {
    color: yellow; 
    transform: scale(1.05);
}


@media (max-width: 600px) {
    body {
       
        margin: 10px; 
    }
    
    .menu-historia {
        gap: 8px; 
    }

    .menu-historia a {
        font-size: 0.6rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p, ul, li {
        font-size: 0.8rem;
    }
}