body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    font-family: 'Pokemon Solid', sans-serif;
                                                
    background-color: #000000;
}

h1 {
    color: #ffee00;
    text-shadow:
        0 0 6px #00c8ff,
        0 0 12px #00c8ff,
        0 0 20px #ffe600,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
}



#search {
    color: rgba(0,0,0,0.8);
    margin: 20px auto;
    padding: 12px;
    width: 400px;
    border-color: #000;
    border-radius: 15px;
    outline: none;
    border: none;
    text-align: center;

    background: linear-gradient(90deg,
        #ff4d4d,
        #4dff88,
        #4d79ff
    );

    box-shadow: 0 0 12px rgba(255,255,255,0.3);
    display: block;
}


header {
    background: linear-gradient(60deg,
        #ff2e2e,
        #0167ff,
        #20ff02
    );
    background-size: 300% 300%;
    animation: rgbFlow 3s ease infinite;
    text-align: center;
    padding: 15px 0;
}

@keyframes rgbFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


header a {
    display: inline-block;
    color: #ffffff !important;
    margin: 0 20px;
    font-size: 16px;

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;

    transition: 0.25s ease;
}

header a:hover {
    color: #ffe600 !important;
    transform: scale(1.1); /* agora funciona */
    text-shadow:
        0 0 6px #00c8ff,
        0 0 12px #00c8ff,
        0 0 20px #ffe600,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
    filter: brightness(1.3);
}





#pokemon-container {
    font-family: 'Press Start 2P', cursive;
    transform: none;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    transform: none
    justify-items center;
}


.card {

    border-radius: 15px;
    border: 3px solid rgba(255,255,255,0.1);
    padding: 6px;
    background: rgba(255,255,255,0.04);
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.06);
}

.card img {
    width: 90px;
    height: 90px;
}


.types {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 6px; 
}


.type-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


@media (max-width: 500px) {
    #pokemon-container {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    .card img {
        width: 80px;
        height: 80px;
    }

    #search {
        width: 90%;
    }
}


.card.fire h3, .card.fire { color: #ffb3b3; }
.card.water h3, .card.water { color: #b3c7ff; }
.card.grass h3, .card.grass { color: #d5ffbc; }
.card.electric h3, .card.electric { color: #fff1a6; }
.card.ice h3, .card.ice p { color: #e0ffff; }
.card.fighting h3, .card.fighting { color: #ffcf9e; }
.card.poison h3, .card.poison { color: #e1b0ff; }
.card.ground h3, .card.ground { color: #f4e3b4; }
.card.flying h3, .card.flying { color: #e9ecff; }
.card.psychic h3, .card.psychic { color: #ffc0d6; }
.card.bug h3, .card.bug { color: #f2ffb3; }
.card.rock h3, .card.rock { color: #f0e0a6; }
.card.ghost h3, .card.ghost { color: #d6caff; }
.card.dark h3, .card.dark { color: #e2e2e2; }
.card.dragon h3, .card.dragon { color: #d3c4ff; }
.card.steel h3, .card.steel { color: #e2ecff; }
.card.fairy h3, .card.fairy { color: #ffd6fa; }
.card.normal h3, .card.normal { color: #f2f2f2; }



