/* Fonte global */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pokemon Solid', sans-serif;
}

.texto {
    color: #ffee00;
    text-shadow:
        0 0 6px #00c8ff,
        0 0 12px #00c8ff,
        0 0 20px #ffe600,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
}

header {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0; 
    padding: 20px 40px;
    display: flex;
    justify-content: center; 
    gap: 30px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px; 
}


header a {
    color: #ffffff !important;
    margin: 0 20px;
    font-size: 18pxpx;

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;

    transition: 0.25s ease;
}

header a:hover {
     color: #ffe600 !important;
    transform: scale(1.1);

    text-shadow:
        0 0 6px #00c8ff,     
        0 0 12px #00c8ff,
        0 0 20px #ffe600,    
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;

    filter: brightness(1.3);
}


.hero {
    height: 100vh;
    width: 100%; 
    background-image: url('unnamed.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 60px; 
}

.hero h1 {

    font-size: 3rem; 
    margin: 0;
    font-weight: 700;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
}

@media (max-width: 600px) {
    header {
        padding: 10px 15px; 
        gap: 8px; 
    flex-wrap: wrap;
}
    header a {
        font-size: 0.8rem;
    }
}
