* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    box-sizing: border-box;
}
body {
    background: #f4f4f4;
}
.quiz-container {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    
}
.quiz-container h1 {
    font-weight: 25px ;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz {
    font-size: 20px 0;
    
}
.quiz h2 {
   font-size: 18px;
   color: #001e4d;
   font-weight: 600;
}
.buttons-perguntas {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}
.buttons-perguntas:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
    
}
   